// Color Variables
$dropdown-bg: #d3d3d3;
$text-color: rgb(152, 154, 152);
$highlight-color: rgba(0, 102, 204, 0.5);
$highlight-shadow: rgba(0, 102, 204, 0.3);
$primary-color: #1976d2;
$hover-color: #52cced;
$dark-bg-color: #444;
$border-color: #ddd;
$table-header-bg: #333;
$table-header-border: #444;
$table-row-hover-bg-dark: #555;
$focus-border-color: $primary-color;
$text-color-light: white;
$text-color-dark: #333;

// Font Sizes
$font-size-large: 48px;
$font-size-medium: 36px;
$font-size-small: 20px;
$font-size-dropdown: 16px;
$font-size-mobile: 14px;


// Spacing
$padding-small: 10px;
$padding-medium: 20px;
$padding-large: 40px;

// Transitions
$transition-all: all 0.3s ease;


