// Color Variables
$dropdown-bg: #d3d3d3;
$text-color: rgb(152, 154, 152);
$primary-color: #1976d2;
$hover-color: #e3f1f1;
$dark-bg-color: #444;
$border-color: #ddd;
$table-header-bg: #333;
$table-header-border: #444;
$table-row-hover-bg-dark: #555;
$focus-border-color: $primary-color;
$text-color-light: white;
$text-color-dark: #333;
$text-color-secondary: #555555;     
$background-color: #ffffff;          
$highlight-color: #ffcc00;           
$highlight-shadow: rgba(255, 204, 0, 0.5);  
$button-color: #1a73e8;            
$button-hover-color: #004aad;       
$dropdown-bg: #f1f3f4;       
$border-color:rgb(42, 43, 42);        
          

// Font Sizes
$font-size-small: 20px;
$font-size-medium: 36px;
$font-size-large: 48px;
$font-size-dropdown: 16px;
$font-size-mobile: 14px;


// Spacing
$padding-small: 10px;              
$padding-medium: 20px;
$padding-large: 40px;
$spacing-medium: 15px;   

// Transitions
$transition-all: all 0.3s ease;


