.page-container {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 80vh;
  padding: 20px;
  position: relative;

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;

    .back-button {
      background: transparent;
      border: 2px solid rgba(0, 0, 0, 0.7);
      cursor: pointer;
      font-size: 48px;
      color: rgb(152, 154, 152);
      padding: 10px;
      border: none;
      transition: all 0.3s ease;
      margin-left: 20px;
      position: relative;

      &:hover {
        transform: scale(1.5);
        color: #000;
      }

      @media (max-width: 768px) {
        font-size: 36px;
        padding: 8px;
      }
    }

    .dropdown-container {
      display: flex;
      align-items: center;

      .dropdown-label {
        font-size: 20px;
        margin-right: 10px;
        color: rgb(152, 154, 152);
      }

      .styled-dropdown {
        background-color: #d3d3d3;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
        color: #333;
        cursor: pointer;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  .carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;

    .carousel-button {
      background: transparent;
      border: 2px solid rgba(0, 0, 0, 0.7);
      font-size: 72px;
      color: rgb(152, 154, 152);
      cursor: pointer;
      padding: 20px;
      border: none;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.5);
      }
    }

    .prev-button {
      margin-right: auto;
    }

    .next-button {
      margin-left: auto;
    }
  }

  .user-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    width: 100%;
  }

  .user-card {
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;

    &:hover {
      transform: translateY(-10px) scale(1.05);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 20px rgba(0, 102, 204, 0.5), 0 0 30px rgba(0, 102, 204, 0.3);
      transform: translateZ(5px);
    }
  }

  .user-avatar-container {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d3d3d3;
    border-radius: 50%;
    color: black;
    font-size: 50px;
    font-weight: bold;
  }

  .user-avatar {
    text-align: center;
    line-height: 150px;
  }

  @media (max-width: 768px) {
    justify-content: center;

    .carousel-button {
      font-size: 40px;
    }

    .user-card {
      padding: 20px;
      max-width: 90%;
    }
  }
}