.header {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  background-color: #1f1f1f; 
  color: white;
  padding: 10px 20px; 
  position: sticky;   
  top: 0;           
  z-index: 1000;      
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
}

.header-title {
  text-align: center; 
  flex: 1;
  font-size: 32px; 
  font-weight: bold; 
  text-transform: uppercase; 
}

.theme-switch-wrapper {
  cursor: pointer; 
  display: flex;
  align-items: center; 
}

.theme-icon {
  font-size: 24px; 
  margin-left: 10px; 
  transition: color 0.3s; 
}

.theme-icon:hover {
  color: #f0c040; 
}
