<div class="table-container">
  <div class="search-container">
    <mat-form-field appearance="outline" class="search-bar">
      <input matInput [(ngModel)]="searchTerm" placeholder="Search users" (ngModelChange)="searchUsers()" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button mat-icon-button class="sort-button" (click)="toggleSort()">
      <mat-icon>sort</mat-icon>
    </button>
  </div>

  <div *ngIf="users().length === 0" class="no-data-message">
    No data found
  </div>

  <cdk-virtual-scroll-viewport *ngIf="users().length > 0" itemSize="50" class="virtual-scroll-viewport">
    <table class="user-table">
      <thead class="table-header">
        <tr class="header-row">
          <th *ngFor="let header of headers()" class="header-cell">{{ header | uppercase }}</th>
          <th class="header-cell"></th>
        </tr>
      </thead>
      <tbody class="table-body">
        <tr *cdkVirtualFor="let user of users()" class="table-row"
          [ngClass]="{ 'dark-row': false, 'edit-list': editListId === user.id }" #user>
          <td *ngFor="let key of headers()" class="editable-cell" (click)="navigateToUserDetails(user)">
            <span *ngIf="editListId !== user.id">{{ user[key] }}</span>
            <input *ngIf="editListId === user.id" [(ngModel)]="user[key]" type="text" class="input-field" />
          </td>
          <td>
            <button class="edit-cell" mat-icon-button (click)="editUser(user.id)">
              <mat-icon class="edit-icon">edit</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </cdk-virtual-scroll-viewport>
</div>