.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  padding: 20px;
  position: relative;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  transition: transform 0.3s;
  
  &:hover {
    transform: scale(1.1);
  }
}

.dropdown-container {
  position: absolute;
  top: 20px;
  right: 20px;

  .dropdown-label {
    font-size: 16px;
    margin-right: 10px;
  }

  .styled-dropdown {
    background-color: #d3d3d3;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    display: none; // Hide on mobile view
  }
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  
  .prev-button {
    position: absolute;
    left: 0;
  }

  .next-button {
    position: absolute;
    right: 0;
  }

  .carousel-button {
    background: none;
    border: none;
    font-size: 50px;
    cursor: pointer;
    padding: 20px;
    transition: transform 0.3s;
    border-radius: 5px;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.user-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  width: 100%;
}

.user-card {
  background: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;

  &:hover {
    transform: translateY(-5px);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 20px rgba(0, 102, 204, 0.5), 0 0 30px rgba(0, 102, 204, 0.3);
    transform: translateZ(5px);
  }
}

.user-avatar-container {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d3d3d3;
  border-radius: 50%;
  color: black;
  font-size: 50px;
  font-weight: bold;
}

.user-avatar {
  text-align: center;
  line-height: 120px;
}

@media (max-width: 768px) {
  .page-container {
    justify-content: center;
  }

  .carousel-container {
    .prev-button, .next-button {
      font-size: 40px;
    }
  }

  .user-card {
    padding: 20px;
    max-width: 90%;
  }
}
