<div class="table-container">
  <cdk-virtual-scroll-viewport itemSize="50" class="virtual-scroll-viewport">
    <table class="user-table">
      <thead class="table-header">
        <tr class="header-row">
          @for(header of headers(); track header) {
            <th class="header-cell">{{ header | uppercase }}</th>
          }
          <th class="header-cell"></th>
        </tr>
      </thead>
      <tbody class="table-body">
        <tr class="table-row" *cdkVirtualFor="let user of users()" 
            (click)="navigateToUserDetails(user)" 
            [ngClass]="{'dark-row': false, 'edit-list': editListId === user.id}">
          @for(key of headers(); track key) {
            <td class="editable-cell" contenteditable="true">
              {{ user[key] }}
            </td>
          }
          <td>
            <button class="edit-cell" mat-icon-button (click)="editList(user.id);">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </cdk-virtual-scroll-viewport>
</div>
