<div class="table-container">
  <cdk-virtual-scroll-viewport itemSize="50" class="virtual-scroll-viewport">
    <table>
      <thead>
        <tr>
          @for(header of headers(); track header){
            <th>{{ header | uppercase }}</th>
          }
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *cdkVirtualFor="let user of users()" (click)="navigateToUserDetails(user)" [ngClass]="{'dark-row': false}">
          @for(key of headers(); track key){
            <td  contenteditable="true" (input)="onEdit(user, key)">
              {{ user[key] }}
            </td>
          }
          <td>
            <button mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </cdk-virtual-scroll-viewport>
</div>
