@import '../../../styles/variables';
@import '../../../styles/mixins';

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 80vh;
  padding: $padding-medium;

  .back-button {
    align-self: flex-start;
    font-size: 48px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.3s ease, color 0.3s ease;
    color: inherit;


    &:hover {
      transform: scale(1.2);
    }

    @media (max-width: 768px) {
      font-size: 36px;
      padding: 8px;
    }
  }

  .dropdown-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    transition: transform 0.3s ease;

    .dropdown-label {
      font-size: $font-size-small;
      margin-right: 10px;
      color: inherit;

    }

    .styled-dropdown {
      background-color: $dropdown-bg;
      border: 1px solid $border-color;
      border-radius: 5px;
      padding: $padding-small;
      font-size: $font-size-dropdown;
      color: #333;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:hover {
        background-color: lighten($dropdown-bg, 10%);
        transform: translateY(-5px);
      }

      &:focus {
        outline: none;
        background-color: lighten($dropdown-bg, 15%);
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin: 20px 0;

    .carousel-button {
      font-size: 60px;
      padding: 0;
      cursor: pointer;
      transition: transform 0.3s ease;
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      border: none;
      color: inherit;

      &:hover {
        transform: scale(1.5);
      }

      &.prev-button {
        margin-right: auto;
        align-self: center;
      }

      &.next-button {
        margin-left: auto;
        align-self: center;
      }
    }

    .user-details-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 400px;
      padding: $padding-medium;
    }
  }
}
