<div class="page-container">
  <button (click)="goBack()" class="back-button">←</button>
  <div class="dropdown-container">
    <label for="userDropdown" class="dropdown-label">SELECT USER:</label>
    <select id="userDropdown" [(ngModel)]="selectedUserId" (change)="updateSelectedUser()" class="styled-dropdown">
      <option *ngFor="let user of users()" [value]="user.id">{{user.name}}</option>
    </select>
  </div>
  <div class="carousel-container">
    <button (click)="selectPreviousUser()" class="carousel-button prev-button">‹</button>
    <div class="user-details-container">
      <app-user-card [user]="selectedUser"></app-user-card>
    </div>
    <button (click)="selectNextUser()" class="carousel-button next-button">›</button>
  </div>
  <div class="bio-container">
    <h3 class="bio-title">Bio</h3>
    <p class="bio-text">{{selectedUser?.bio}}</p>
  </div>
</div>
