@import '../../styles/variables';
@import '../../styles/mixins';

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 80vh;
  padding: $padding-medium;

  .back-button {
    align-self: flex-start;
    font-size: 48px;
    background: transparent;
    color: rgb(152, 154, 152);
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.3s ease, color 0.3s ease;

    &:hover {
      transform: scale(1.2);
      color: #000;
    }

    @media (max-width: 768px) {
      font-size: 36px;
      padding: 8px;
    }
  }

  .dropdown-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    transition: transform 0.3s ease;

    .dropdown-label {
      font-size: $font-size-small;
      margin-right: 10px;
      color: $text-color;
    }

    .styled-dropdown {
      background-color: $dropdown-bg;
      border: 1px solid $border-color;
      border-radius: 5px;
      padding: $padding-small;
      font-size: $font-size-dropdown;
      color: #333;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:hover {
        background-color: lighten($dropdown-bg, 10%);
        transform: translateY(-5px);
      }

      &:focus {
        outline: none;
        background-color: lighten($dropdown-bg, 15%);
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 0 auto;
    flex-grow: .8;

    .carousel-button {
      @include button-styles(72px);
      padding: $padding-large;
      border: none;

      &.prev-button {
        margin-right: auto;
      }

      &.next-button {
        margin-left: auto;
      }
    }
  }

  .user-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    width: 100%;
  }

  .user-card {
    border-radius: 10px;
    padding: $padding-large;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;

    &:hover {
      transform: translateY(-10px) scale(1.05);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 20px $highlight-color, 0 0 30px $highlight-shadow;
      transform: translateZ(5px);
    }
  }

  .user-avatar-container {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dropdown-bg;
    border-radius: 50%;
    color: black;
    font-size: 50px;
    font-weight: bold;
  }
  
  .user-avatar {
    text-align: center;
    line-height: 150px;
  }

  @media (max-width: 768px) {
    justify-content: center;

    .carousel-button {
      font-size: 40px;
    }
    .user-card {
      padding: $padding-small;
      max-width: 90%;
    }
  }
}